<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="lead">Providing innovative software solutions in Africa <br> <a href="http://www.lucentafrica.com">&copy; Lucent Africa</a>
        </p>
      </div>
      <div class="col-sm-2">
        <h6>Our products</h6>
        <ul class="list-unstyled">
          <li><a href="">Web Apps</a></li>
          <li><a href="">Mobile Apps</a></li>
          <li><a href="">E-Learning Solutions</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h6>Trainings</h6>
        <ul class="list-unstyled">
          <li><a href="">Full Stack</a></li>
          <li><a href="">Front End</a></li>
          <li><a href="">Back End</a></li>
          <li><a href="">Mobile</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h6>Contact</h6>
        <ul class="list-unstyled">
          <li><a href="">25, Kuforiji Olubi Drive, Abeokuta, Ogun State.</a></li>
          <li><a href="">hello@lucentdigital.com.ng</a></li>
          <li><a href="#">0806 091 1051</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
