<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="lead">Providing innovative software solutions in Africa <br> <a href="http://www.lucentafrica.com">&copy; Lucent Africa</a>
        </p>
      </div>
      <div class="col-sm-2">
        <h6>Our products</h6>
        <ul class="list-unstyled">
          <li><a href="#">Web Apps</a></li>
          <li><a href="#">Mobile Apps</a></li>
          <li><a href="#">E-Learning Solutions</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h6>Trainings</h6>
        <ul class="list-unstyled">
          <li><a routerLink="/full-stack">Full Stack</a></li>
          <li><a routerLink="/html-css">HTML & CSS</a></li>
          <li><a routerLink="/javascript">JavaScript</a></li>
          <li><a routerLink="/bootstrap">Bootstrap</a></li>
          <li><a routerLink="/wordpress">WordPress</a></li>
          <li><a routerLink="/office">MS Office</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h6>Contact</h6>
        <ul class="list-unstyled">
          <li><a href="">Lagos | Abeokuta | Kigali</a></li>
          <li><a href="">hello@lucentafrica.com</a></li>
          <li><a href="#">+234 806 091 1051 <br> +250 790 001 380</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
