<section id="course-page">

  <div class="container text-muted">

    <div class="row">
      <div class="col-sm-8 col-12">
        <div class="card">
          <h3 class="text-muted">Full Stack Web Development</h3>

          <p class="lead">In this course you will learn:</p>
          <ol>
            <li>How to design and build cash earning websites.</li>
            <li>Use HTML5 and CSS3 to build website content and add beautiful styling and decoration.</li>
            <li>Create professional company websites</li>
            <li>Create portfolio sites and landing pages</li>
            <li>Create blogs from scratch</li>
            <li>Create web applications for businesses</li>
            <li>Deploy applications and work with cloud databases</li>
            <li>Lots more...</li>
          </ol>

          <p class="topic">Requirements</p>
          <ol>
            <li>A working computer with internet</li>
            <li>A desire to learn awesome stuff</li>
            <li>A desire to build real world applications</li>
          </ol>


          <!-- <p class="topic">Here are some projects that you would have created at the end of the course.</p>
          <ol>
            <li>A company website</li>
            <li>A math quiz game</li>
            <li>A beautiful newsletter for email campaign</li>
          </ol> -->

          <p class="topic">Target Audience</p>
          <ol>
            <li>Those who have no web development knowledge or experience</li>
            <li>Those who want to learn web development regardless of previous experience</li>
          </ol>
        </div>

        <p class="topic">Course Curriculum</p>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#introduction" aria-expanded="true" aria-controls="introduction">
                  Introduction to Web Development
                </button>
              </h5>
            </div>
            <div id="introduction" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>The Internet</li>
                  <li>Intro to the Web</li>
                  <li>Request/Response Cycle</li>
                  <li>Front-End vs Back-End</li>
                  <li>HTML vs CSS vs JavaScript</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#html" aria-expanded="false" aria-controls="html">
                  HTML (HyperText Markup Language)
                </button>
              </h5>
            </div>
            <div id="html" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Introduction to HTML</li>
                  <li>Build Your First HTML Page</li>
                  <li>Using the Mozilla Developer Network</li>
                  <li>Paragraph Elements</li>
                  <li>Heading Elements</li>
                  <li>Chrome Developer Tools</li>
                  <li>HTML Boilerplate </li>
                  <li>List Elements </li>
                  <li>Anchor Tags</li>
                  <li>Images</li>
                  <li>Comments</li>
                  <li>Block vs Inline Elements - Divs and Spans</li>
                  <li>An Odd Assortment of Elements: HR, BR, Sup & Sub</li>
                  <li>Entity Codes</li>
                  <li>Semantic Markup</li>
                  <li>HTML Tables</li>
                  <li>HTML Forms</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#css" aria-expanded="false" aria-controls="css">
                  CSS (Cascading Style Sheet)
                </button>
              </h5>
            </div>
            <div id="css" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Working with Styles</li>
                  <li>Color & Background-Color</li>
                  <li>Font Size and Font Family</li>
                  <li>Universal & Element Selectors</li>
                  <li>ID Selector</li>
                  <li>Class Selector</li>
                  <li>Descendant Selector</li>
                  <li>Adjacent & Direct Descendant Selector</li>
                  <li>Attribute Selector</li>
                  <li>Pseudo Classes</li>
                  <li>Pseudo Elements</li>
                  <li>CSS Cascade</li>
                  <li>Specificity</li>
                  <li>Inline Styles & Important</li>
                  <li>CSS Inheritance</li>
                  <li>CSS Box Model</li>
                  <li>Display Property</li>
                  <li>Opacity & Alpha Channel</li>
                  <li>The Position Property</li>
                  <li>CSS Transition</li>
                  <li>CSS Transforms</li>
                  <li>Working with Flexbox</li>
                  <li>Media Queries</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#bootstrap" aria-expanded="false" aria-controls="bootstrap">
                  Bootstrap
                </button>
              </h5>
            </div>
            <div id="bootstrap" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Working with Bootstrap</li>
                  <li>Including Bootstrap & Containers</li>
                  <li>Bootstrap Buttons</li>
                  <li>Bootstrap Typography & Utilities</li>
                  <li>Badges, Alerts & Button Groups</li>
                  <li>Bootstrap Grid</li>
                  <li>Bootstrap Forms</li>
                  <li>Bootstrap Navbars</li>
                  <li>Bootstrap Icons</li>
                  <li>Other Bootstrap Stuff</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#javascript" aria-expanded="false" aria-controls="javascript">
                  JavaScript
                </button>
              </h5>
            </div>
            <div id="javascript" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Why Use JavaScript?</li>
                  <li>Primitives & The Console</li>
                  <li>JavaScript Numbers</li>
                  <li>NaN</li>
                  <li>Variables & Let</li>
                  <li>Updating Variables</li>
                  <li>Booleans</li>
                  <li>Variable Naming & Conventions</li>
                  <li>Introduction Strings</li>
                  <li>Indices & Length</li>
                  <li>String Methods</li>
                  <li>String Methods with Arguments</li>
                  <li>String Template Literals</li>
                  <li>Undefined & Null</li>
                  <li>Random Numbers & The Math Object</li>
                  <li>Decision Making with Code</li>
                  <li>Comparison Operators</li>
                  <li>Equality: Triple vs Double Equals</li>
                  <li>Console, Alert & Prompt</li>
                  <li>Running JavaScript from A Script</li>
                  <li>If Statements</li>
                  <li>Else-If</li>
                  <li>Else</li>
                  <li>Nesting Conditionals</li>
                  <li>Truth-y & False-y values</li>
                  <li>Logical AND</li>
                  <li>Logical OR</li>
                  <li>Logical NOT</li>
                  <li>The Switch Statement</li>
                  <li>Introduction to Arrays</li>
                  <li>Array Random Access</li>
                  <li>Push & Pop</li>
                  <li>Shift & Unshift</li>
                  <li>Concat, indexOf, includes & reverse</li>
                  <li>Slice & Splice</li>
                  <li>Reference Types and Equality Testing</li>
                  <li>Arrays + Const</li>
                  <li>Multi-Dimensional Arrays</li>
                  <li>Nested Arrays</li>
                  <li>Object Literals</li>
                  <li>forLoops</li>
                  <li>While Loop</li>
                  <li>For...Of Loop</li>
                  <li>JavaScript Functions</li>
                  <li>The Return Keyword</li>
                  <li>Function Scope</li>
                  <li>Higher Order Functions</li>
                  <li>Defining Methods</li>
                  <li>The 'This' Keyword</li>
                  <li>Using Try/Catch</li>
                  <li>Callbacks & Array Methods</li>
                  <li>forEach Method</li>
                  <li>Map Method</li>
                  <li>Arrow Functions</li>
                  <li>Filter Method</li>
                  <li>Some & Every Methods</li>
                  <li>Reduce Method</li>
                  <li>Default Params</li>
                  <li>The Spread Operator</li>
                  <li>Rest Params</li>
                  <li>Destructuring Arrays</li>
                  <li>Destructuring Objects</li>
                  <li>Desstructing Params</li>
                  <li>The Document Object Model (DOM)</li>
                  <li>DOM Events</li>
                  <li>AJAX & API's</li>
                  <li>Fetch API</li>
                  <li>Axios</li>
                  <li>Prototypes, Classes & OOP</li>

                  <!-- <li>How to Use the Terminal</li>
                  <li>Introduction to Node</li>
                  <li>Exploring Modules & NPM</li>
                  <li>Creating Servers with Express</li>
                  <li>Creating Dynamic HTML with Templating</li>
                  <li>Defining RESTful Routes</li>
                  <li>Getting Started with Database - MongoDB</li>
                  <li>Connecting Mongo with Mongoose</li>
                  <li>Working with Middleware</li>
                  <li>Handling Errors In Express Apps</li>
                  <li>Errors & Validating Data</li>
                  <li>Data Relationships with Mongo</li>
                  <li>Mongo Relationships with Express</li>
                  <li>Express Router & Cookies</li>
                  <li>Express Session & Flash</li>
                  <li>Authentication</li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#terminal" aria-expanded="false" aria-controls="terminal">
                  Getting Started with Terminal
                </button>
              </h5>
            </div>
            <div id="terminal" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#node" aria-expanded="false" aria-controls="node">
                  Node
                </button>
              </h5>
            </div>
            <div id="node" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#mongoDB" aria-expanded="false" aria-controls="mongoDB">
                  MongoDB & Mongoose
                </button>
              </h5>
            </div>
            <div id="mongoDB" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#express" aria-expanded="false" aria-controls="express">
                  Express & MiddleWare
                </button>
              </h5>
            </div>
            <div id="express" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#authentication" aria-expanded="false" aria-controls="authentication">
                  Authentication & Authorization
                </button>
              </h5>
            </div>
            <div id="authentication" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#final-project" aria-expanded="false" aria-controls="final-project">
                  Final Project
                </button>
              </h5>
            </div>
            <div id="final-project" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-4 col-12" id="quick-info">
        <div class="card">
          <div id="panelImage">
            <img src="../../../assets/img/full-stack.webp">
          </div>
          <p><span class="bold">Duration:</span> 12 Weeks</p>
          <p><span class="bold">Phone: </span> 08060911051 </p>
          <p><span class="bold">Email: </span>hello@lucentafrica.com</p>
          <p><span class="bold">Fee:</span> N300,000</p>
        </div>
      </div>
    </div>

  </div>
</section>
