<section id="course-page">

  <div class="container text-muted">

    <div class="row">
      <div class="col-sm-8 col-12">
        <div class="card">
          <h3 class="text-muted">Office Workspace Basics</h3>

          <p class="topic">Microsoft word</p>
          <ol>
            <li>Word Basics</li>
            <li>Working with Text</li>
            <li>Layout and Printing</li>
            <li>Working with Objects</li>
            <li>Collaboration and Reviewing</li>
            <li>Doing More with Word</li>
            <li>Extras</li>
          </ol>

          <p class="topic">Microsoft Excel</p>
          <ol>
            <li>Excel Basics</li>
            <li>Working with Cells and Sheets</li>
            <li>Formulas and Functions</li>
            <li>Working with Data</li>
            <li>Doing More with Excel</li>
            <li>Extras</li>
          </ol>

          <p class="topic">Microsoft PowerPoint</p>
          <ol>
            <li>PowerPoint Basics</li>
            <li>Working with Slides</li>
            <li>Text and Objects</li>
            <li>More Objects</li>
            <li>Review and Collaborating</li>
            <li>Customizing Your Presentation</li>
            <li>Extras</li>
          </ol>

          <p class="topic">Internet Browsing</p>
          <ol>
            <li>Introduction</li>
            <li>Getting Started with the Internet</li>
            <li>Browsing the Web</li>
            <li>Extras</li>
          </ol>

        </div>
      </div>
      <div class="col-sm-4 col-12" id="quick-info">
        <div class="card">
          <div id="panelImage">
            <img src="../../../assets/img/office.webp">
          </div>
          <p><span class="bold">Duration:</span> 1 month </p>
          <p><span class="bold">Phone: </span> 08060911051 </p>
          <p><span class="bold">Email: </span>hello@lucentafrica.com</p>
          <p><span class="bold">Fee:</span> N120,000</p>
        </div>
      </div>
    </div>
  </div>
</section>
