<section id="course-page">

  <div class="container text-muted">

    <div class="row">
      <div class="col-sm-8 col-12">
        <div class="card">
          <h3 class="text-muted">Learn HTML & CSS</h3>

          <p class="lead">At the end of the course, you will be able to:</p>
          <ol>
            <li>Design and build cash earning websites.</li>
            <li>Use HTML5 and CSS3 to build website content and add beautiful styling and decoration.</li>
            <li>Create professional landing pages and sales pages</li>
          </ol>

          <p class="topic">Requirements</p>
          <ol>
            <li>I will teach you everything. All you need is a working computer.</li>
            <li>This course has no prerequisite knowledge. It is completely comprehensive and will take
              you from zero-skills to professional HTML (& CSS) engineer.
            </li>
          </ol>


          <p class="topic">Here are some projects that you would have created at the end of the course.</p>
          <ol>
            <li>A company website</li>
            <li>A math quiz game</li>
            <li>A beautiful newsletter for email campaign</li>
          </ol>

          <p class="topic">Target Audience</p>
          <ol>
            <li>Those who have no web development knowledge or experience</li>
            <li>Those with web development knowledge but wishes to learn new skill and enrich their portfolio with
              highly professional websites
            </li>
            <li>Those who prefer private training to classroom training</li>
          </ol>

          <p class="topic">Course Curriculum</p>
          <ul>
            <li>
              <span class="topic">HTML</span>
              <ol>
                <li>Structure of a website</li>
                <li>Your first website</li>
                <li>Headings</li>
                <li>Paragraphs</li>
                <li>Links</li>
                <li>Images</li>
                <li>Inline vs Block Elements</li>
                <li>Iframes</li>
                <li>Unordered Lists</li>
                <li>Ordered List</li>
                <li>Description Lists</li>
                <li>Tables</li>
                <li>Entities</li>
                <li>Forms</li>
                <li>Text Decoration</li>
                <li>Comments</li>
              </ol>
            </li>
            <li>
              <span class="topic">CSS</span>
              <ol>
                <li>Introduction</li>
                <li>Inline CSS</li>
                <li>Internal CSS</li>
                <li>External CSS</li>
                <li>Classes and IDs</li>
                <li>Div and Span</li>
                <li>Box Model</li>
                <li>Padding</li>
                <li>Margin</li>
                <li>Border</li>
                <li>Outline</li>
                <li>Background</li>
                <li>Floating</li>
                <li>Positioning</li>
                <li>Display</li>
                <li>Text Decoration</li>
                <li>Text Align</li>
                <li>Text Font</li>
                <li>Text Effects</li>
                <li>Image Sprites</li>
                <li>Image Opacity</li>
                <li>Styling Lists</li>
                <li>Styling Links</li>
                <li>Gradients</li>
                <li>2D Transforms</li>
                <li>3D Transforms</li>
                <li>Transitions</li>
                <li>Animations</li>
              </ol>
            </li>
            <li>
              <span class="topic">Project: Build a beautiful company website</span>
              <ol>
                <li>Introduction</li>
                <li>Header (1)</li>
                <li>Header (2)</li>
                <li>Menu</li>
                <li>Introduction Box</li>
                <li>Sidebars(1)</li>
                <li>Sidebars(2)</li>
                <li>Footers & Congratulations</li>
              </ol>
            </li>
          </ul>

        </div>
      </div>
      <div class="col-sm-4 col-12" id="quick-info">
        <div class="card">
          <div id="panelImage">
            <img src="../../../assets/img/html-css.jpg">
          </div>
          <p><span class="bold">Duration:</span> 1 month</p>
          <p><span class="bold">Phone: </span> +250790001380, +2348060911051 </p>
          <p><span class="bold">Email: </span>hello@lucentafrica.com</p>
          <p><span class="bold">Fee:</span> USD 200.00</p>
        </div>
      </div>
    </div>

  </div>
</section>
