
<section id="courses">
  <div class="container">
    <hr>
    <h3 class="text-center text-primary">SAMPLE PROJECTS</h3>
    <hr>

<!--    <p class="lead my-5 text-center">Get a professionally built company website for as low as <span class="text-info">N36,000</span>  in just <span class="text-info">48 hours</span>.</p>-->

<!--    <h3 class="text-muted text-center mt-3 mb-5"><u>Sample Projects</u></h3>-->

    <div class="card-deck">
      <div class="card text-center">
        <img class="card-img-top" src="../../assets/img/biz_page.png" alt="Biz Page">
        <div class="card-footer">
          <a href="https://bizpage.lucentafrica.com/" target="_blank">Business Website</a>
        </div>
      </div>
      <div class="card text-center">
        <img class="card-img-top" src="../../assets/img/presento.png" alt="Presento">
        <div class="card-footer">
          <a href="https://presento.lucentafrica.com/" target="_blank">Company Website</a>
        </div>
      </div>
    </div>

    <div class="card-deck">
      <div class="card text-center">
        <img class="card-img-top" src="../../assets/img/restaurant.png" alt="Restaurant">
        <div class="card-footer">
          <a href="https://hasta-restaurant.lucentafrica.com/" target="_blank">Restaurant</a>
        </div>
      </div>
      <div class="card text-center">
        <img class="card-img-top" src="../../assets/img/pathfinder.png" alt="Pathfinder">
        <div class="card-footer">
          <a href="https://pathfinderbookclub.com/" target="_blank">BookClub</a>
        </div>
      </div>
    </div>

    <!--<div class="shadow p-3 mb-5 bg-white rounded text-center">
      <a class="text-warning" href="training.html">Checkout our WordPress training.</a>
    </div>-->
  </div>
</section>
