<section id="courses">
  <div class="container">
    <hr>
    <h3 class="text-center text-muted">AVAILABLE COURSES</h3>
    <hr>
    <div class="card-deck">
      <div class="card text-center">
        <!-- <img class="card-img-top" src="img/full-stack.png" alt="Full Stack Web Developing"> -->
        <div class="card-body">
          <h5 class="card-title ">Full Stack </h5>
          <p class="card-text">HTML, CSS, JavaScript, jQuery, Bootstrap, Node.js, MongoDB, Mongoose, Express, RESTful API's, Google Maps API, Socket.io and more...</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><span class="font-weight-bold">Duration:</span> 6 Months</small>
        </div>
      </div>
      <div class="card text-center">
        <!-- <img class="card-img-top" src="img/back-end.jpg" alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Back End </h5>
          <p class="card-text">Node.js, MongoDB, Mongoose, Express, RESTful API's, Google Maps API, Socket.io</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><span class="font-weight-bold">Duration:</span> 3 Months</small>
        </div>
      </div>
      <div class="card text-center">
        <!-- <img class="card-img-top" src="img/front-end.png" alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Front End </h5>
          <p class="card-text">HTML, CSS, JavaScript, Bootstrap</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><span class="font-weight-bold">Duration:</span> 3 Months</small>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card text-center">
        <!-- <img class="card-img-top" src="img/mobile.png" alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Mobile</h5>
          <p class="card-text">TypeScript, Angular, Ionic <br>(Prerequisite: HTML, CSS)</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><span class="font-weight-bold">Duration:</span> 3 Months</small>
        </div>
      </div>
      <div class="card text-center">
        <!-- <img class="card-img-top" src="img/php-mysql.png" alt="PHP / MySQL"> -->
        <div class="card-body">
          <h5 class="card-title ">PHP / MySQL</h5>
          <p class="card-text">PHP, MySQL <br> (Prerequisites: HTML, JavaScript) </p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><span class="font-weight-bold">Duration:</span> 3 Months</small>
        </div>
      </div>
      <div class="card text-center">
        <!-- <img class="card-img-top" src="img/wordpress.png" alt="WordPress"> -->
        <div class="card-body">
          <h5 class="card-title ">WordPress</h5>
          <p class="card-text">Website, Blog, Online Store</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><span class="font-weight-bold">Duration:</span> 2 Weeks</small>
        </div>
      </div>
    </div>
  </div>
</section>
