<section id="course-page">

  <div class="container text-muted">

    <div class="row">
      <div class="col-sm-8 col-12">
        <div class="card">
          <h3 class="text-muted">Programming in JavaScript</h3>

          <p>This JavaScript course is for everybody. It starts with the basic fundamentals and
            progresses to advanced programming concepts. You will learn pure JavaScript form ground up.</p>

          <p>At the end of the course, you would have built the following projects:</p>
          <ol>
            <li>Task List With Local Storage</li>
            <li>Loan Calculator</li>
            <li>Number Guess Game</li>
          </ol>

          <p class="topic">Requirements</p>
          <ul>
            <li>Basic HTML / CSS knowledge</li>
          </ul>

          <p class="topic">Target Audience</p>
          <ul>
            <li>People that want to learn modern JavaScript from beginner to advanced without libraries and frameworks</li>
          </ul>

          <p class="topic">Course Curriculum</p>
          <ol>
            <li>Introduction</li>
            <li>Buttons</li>
            <li>Change HTML Content</li>
            <li>Change HTML Style</li>
            <li>Variables and Data Types</li>
            <li>Change HTML Using Variables</li>
            <li>Functions</li>
            <li>Objects</li>
            <li>Create Objects using the "new" keyword</li>
            <li>Object Constructors</li>
            <li>Arrays</li>
            <li>If and Switch Statements</li>
            <li>For Loops</li>
            <li>While Loops</li>
            <li>Regular Expressions</li>
            <li>Errors</li>
            <li>Set Interval and Set Timeout</li>
            <li>Window and Screen</li>
            <li>Alert Boxes</li>
            <li>Cookies</li>
          </ol>

        </div>
      </div>
      <div class="col-sm-4 col-12" id="quick-info">
        <div class="card">
          <div id="panelImage">
            <img src="../../../assets/img/javascript.jpg">
          </div>
          <p><span class="bold">Duration:</span> 6 weeks</p>
          <p><span class="bold">Phone: </span> +250790001380, +2348060911051 </p>
          <p><span class="bold">Email: </span>hello@lucentafrica.com</p>
          <p><span class="bold">Fee:</span> USD 350.00</p>
        </div>
      </div>
    </div>

  </div>
</section>
