
<div id="stage">
  <div id="stage-caption">
    <h1 class="display-4">
      We <span class="text-primary">build</span> apps
      & <span class="text-warning">teach</span> code!
    </h1>
    <p>If it's not <b>SOFTWARE DRIVEN,</b> it's not properly driven!</p>
  </div>
</div>

<section id="feature-one">
  <div class="container">
    <div class="row">
      <div class="feature-content">
        <div class="col-sm-6">
          <img src="../../assets/img/african-american.jpg" alt="computer">
        </div>
        <div class="col-sm-5 offset-sm-1">
          <h6>About Lucent</h6>
          <h3>We make the technology affordable in Africa </h3>
          <p class="lead">Solving real life's problems is our priority.</p>
          <p>Our team is focused on  creating solutions to real life problems by developing Web and Mobile Apps. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="feature-two" class="feature-dark">
  <div class="container">
    <div class="row">
      <div class="feature-content">
        <div class="col-sm-6 col-xs-12 feature-caption">
          <h6>We train developers</h6>
          <h2>Our training faculty inspires and trains creative software developers.</h2>
          <p class="lead">You are properly guided on your coding journey. There is somebody available to code along with you and answer your questions.</p>
          <a routerLink="/training" role="button" class="btn btn-success btn-lg">Check our courses</a>
        </div>
        <div class="col-sm-6 col-xs-12 text-sm-center d-none d-lg-block">
          <img src="../../assets/img/home-office-438386_640.jpg" alt="website">
        </div>
      </div>
    </div>
  </div>
</section>


<section id="feature-three">
  <div class="container">
    <div class="row">
      <div class="feature-content">
        <div class="col-sm-6 col-xs-12 text-sm-center d-sm-block">
          <img src="../../assets/img/macbook.png" alt="">
        </div>
        <div class="col-sm-5 col-xs-12 offset-sm-1">
          <h6>The wow factor</h6>
          <blockquote class="blockquote">
            &ldquo;...software engineering will be relevant forever.&rdquo;
            <footer class="blockquote-footer">
              Ken Mazaika
              <!--                               <cite></cite>-->
            </footer>
          </blockquote>

          <!--                       <a href="#" role="button" class="btn btn-outline-primary btn-lg">Let's take you live!</a>-->
        </div>
      </div>
    </div>
  </div>
</section>


<section id="feature-four" class="feature-alt">
  <div class="container">
    <div class="row">
      <div class="feature-content">
        <div class="col-sm-6 col-xs-12">
          <h6>Solve the problem, write the code!</h6>
          <blockquote class="blockquote">
            &ldquo;Everyone should learn how to code, it teaches you how to think. &rdquo;
            <footer class="blockquote-footer">
              Steve Jobs <cite></cite>
            </footer>
          </blockquote>
        </div>
        <div class="col-sm-6 col-xs-12 d-none d-sm-block">
          <img src="../../assets/img/stevejobs.jpg" alt="photo of steve jobs">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="feature-five" class="class-full">
  <div class="containter">
    <div class="row">
      <div class="feature-content">
        <div class="col-sm-8 col-xs-12 offset-sm-4">
          <h6>Why Lucent</h6>
          <h2>We come from a long history of computer technologies.</h2>
          <p class="lead"> Our skills cut across generations. Today, we employ the best software skills in our advanced technology-driven world.</p>

        </div>
      </div>
    </div>
  </div>
</section>
